body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
.imgpos {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}
#cabecalho h2 {
    color: #2A36B1;
    text-align: center;
}
.card {
    width: 300px;
    padding: 30px;
    background-color: #F5F5F5;
    box-shadow: -1px 1px 5px #ccc;
    margin-top: 40px;
    margin: 0 auto;
}
.card input {
    width: 240px;
    background: transparent;
    color: #2F4F4F;
    margin-bottom: 15px;
    border-bottom: 1px solid #000;
    padding: 30px;
}
.buttonLogin button {
    text-align: center;
    background: #3F51B5;
    border: 1px solid #dadada;
    color: #fff;
    cursor: pointer;
    padding-bottom: 20px 0;
    font-weight: bold;
    height: 60px;
    outline: none;
    width: 100%;
}